@import './components/global/_global.scss';
@import './components/global/_buttons.scss';
@import './components/global/_hiddenVisible.scss';
@import './components/cats/_catImages.scss';
@import './components/errors/_httpCode.scss';

.main {
    margin-inline-start: 1rem;
    margin-inline-end: 1rem;
}

.main__title {
    text-align: center;
    margin-block: 2rem;
}

.favorites-michis__title {
    @extend .main__title;
}

.favorites-michis__text {
    text-align: center;
}

.main__favorites-section-michis {
    margin-block-end: 2rem;
}

.main__uploadingMichi {
    text-align: center;
}

.main__file-input {
    margin-block: 1.2rem;
}
