extend ./components/global/_global.pug
block head
    +style-head("style.css")
    //- +style-head-responsive("login/desktop.css", "1024")
    +titles("Ramdom Cats")
block main
    main.main
        h1.main__title Michis App
        section#main__error-section-id.main__error-section.hidden
            h3#main__error-id.error-section__error-text
            +img("error-section__http-code-errors-img-id", "error-section__http-code-errors-img","Image referring to the error obtained").error-section__figure-img-container
        section#ramdon-michis-id.main__ramdom-michis-container.main__figures-buttons-containers
            article.ramdon-michis__cat-button-container.main__article-container
                +img("random-michis__img-cat-1-id", "main__imgs-cats", "Image cat random")#ramdon-michis__figure-img-container-1-id.ramdon-michis__figure-img-container.main__figure-img
                button#ramdon-michis__button-1-id.ramdon-michis__button.button Save Michi
            article.ramdon-michis__cat-button-container.main__article-container
                +img("random-michis__img-cat-2-id", "main__imgs-cats", "Image cat random")#main__figure-img-container-2-id.main__figure-img-container.main__figure-img
                button#ramdon-michis__button-2-id.ramdon-michis__button.button Save Michi
        button#main__button-refresh-id.button.main__button-refresh Refresh
        section#main__favorites-michis-section-id.main__favorites-section-michis
            h2.favorites-michis__title ❤️ Favorite Cat ❤️
            p#favorites-michis__text-id.favorites-michis__text Add your fisrt kitty
            section#favorites-michis__michis-container-id.main__figures-buttons-containers
