.main__ramdom-michis-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
    gap: 3rem;
    height: 100%;
}

.main__cat-button-container {
    flex-direction: column;
    width: 100%;
    gap: 0.8rem;
    @include all-center-display-flex;
}

.main__figure-img-container {
    height: 35.1rem;
}

.main__imgs-cats {
    border-radius: 2rem;
    object-fit: cover;
}

.main__favorites-michis {
    flex-direction: column;
    @include all-center-display-flex;
}
