.main__error {
    text-align: center;
    margin-block-end: 0.8rem;
}

.main__error-section {
    max-width: 50rem;
    padding: 2rem;
    margin: 0 auto;
    border-radius: 2rem;
    background-color: $very-light-pink;
}

.error-section__error-text {
    text-align: center;
    font-weight: 600;
}

.main__error-section {
    margin-block-end: 2rem;
}

.error-section__http-code-errors-img{
    margin-block-start: 0.8rem;
    border-radius: 2rem;
}
